@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex; /* â† */
}

#imagem {
    background-color: #6665DD;
    width: 40vw;
    height: 100vh;
    display: inline-block;
    background-image: url(../imagens/google-char.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}

section {
    background-color: white;
    display: inline-block;
    width: 60vw;
    height: 100%;
}

#conteudo {
    margin-top: 25%;
    padding-left: 20%;
    padding-right: 20%;
}

#conteudo > h1 {
    padding-bottom: 20px;
}

div > p {
    font-weight: bold;
    font-size: 0.9em;
    padding: 4px;
}

input[type = text] {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 5px;
    background-color: lightgray;
}

input[type = text]:hover {
    background-color: rgb(231, 231, 231);
}

input[type = email] {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 5px;
    background-color: lightgray;
}

input[type = email]:hover {
    background-color: rgb(231, 231, 231);
}

input[type = password] {
    border: none;
    border-radius: 4px;
    padding: 5px;
    background-color: lightgray;
    width: 334px;
} 

input[type = password]:hover {
    background-color: rgb(231, 231, 231);
}

.senha {
    display: inline-block;
}

#confirmar {
    margin-left: 3px;
}

.password-container {
    position: relative;
}

.password-container > input[type="password"] {
    padding-right: 30px; 
}

.password-container > span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#termos {
    padding-top: 10px;
    padding-bottom: 10px;
}

#miudas {
    color: rgba(80, 79, 79, 0.808);
    font-size: 0.8em;
}

input[type = submit] {
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    color: white;
    background-color: rgb(43, 173, 216);
    font-weight: bold;
    border: none;
}

input[type = submit]:hover {
    cursor: pointer;
    background-color: rgb(34, 129, 161);
}
